<name>The Famous Plugger</name>
<desription>
This most famous of plugger plugins does an excellent job of providing
the resource necessary to test the new feature of user submitted plugins to PhoneGap Build, Adobe's
cloud based service for building mobile applications utilizing html, css and javascript.  Wow.
</description>
